.company {
    max-width: 1120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s;
    padding: 5px 10px;
    border-radius: 10px;

    &:hover {
        background-color: var(--gray-1);
    }

    .left {
        display: flex;
        align-items: start;
        gap: 10px;
        
        .title {
            font-size: 2rem;
            font-weight: 600;
        }
        .code {
            font-weight: 600;
            color: var(--gray-2);
        }
    }

    .price {
        font-size: 1.5rem;
        font-weight: 600;
    }

}